<div class="chat-card damage">
    <p>Schaden für {{name}}...</p>
    ORIGINAL ROLL RESULT: {{rollTotal}}
    FATE DICE RESULTS:
    TOTAL: 
    <button class="fate-dice">ADD FATE DICE</button>
</div>